body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

#chatBox {
  width: 80%;
  height: 300px;
  margin: 10px auto;
  border: 1px solid #334155;
  overflow-y: auto;
  padding: 10px;
}

input {
  width: 60%;
  padding: 8px;
}

button {
  padding: 8px 15px;
  margin: 5px;
  cursor: pointer;
}
